<h1>CrowdCompass Timesheets</h1>
<form>
  <ul>
    <li>
      <label for="username">Username</label>
      <input type="text" name="username" />
    </li>
    <li>
      <label for="username">Password</label>
      <input type="text" name="password" />
    </li>
  </ul>

  <button type="submit">Login</button>
</form>
