@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);

body {
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;

  // Turns the body back on ( off prior to loading to prevent weird switch)
  & > form {
    display: block;
  }
}

@import 'login-form';
@import 'entry-form';
